* {
    margin: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: whitesmoke;
  }

  .order-list {
    position: relative;
  }

  .order-list-showcase {
    display: inline-flex;
    padding: 5px 0px;
    align-items: center;
    gap: 5px;
  }

  .order-list-showcase-title {
    color: var(--d-9-d-9-d-9, #0071AF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
  }

  .showcase-detali {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr)) ;
    gap: 30px;
  }

  .showcase-detali-box {
    width: 400px;
    height: 40px;
    border: solid 1px #D8D8D8;
    border-radius: 10px;
  }

  .showcase-detail-box-intro {
    color: var(--text, #505050);
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 8px;
    margin-left: 10px;
    background-color: white;
    padding: 5px;
  }

  .showcase-detail-box-inf {
    margin-left: 10px;
    margin-top: 15px;
  }

  .showcase-detali-box-note {
    width: 840px;
    height: 60px;
    border: solid 1px #D8D8D8;
    border-radius: 10px;
  }

  .order-list-brand {
    margin-top: 30px;
    border: solid 1px #D8D8D8;
    border-radius: 10px;
  }

  .order-list-brand-img {
    width: 137px;
    height: 28px;
    object-fit: cover;
    padding: 10px 35px;
  }

  .order-list-brand-title {
    display: flex;
    list-style: none;
    align-items: center;
  }

  .order-list-brand-title-name {
    margin-right: 370px;
    color: var(--text, #505050);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
  }
  
  .order-list-brand-title-num {
    margin-right: 170px;
    color: var(--text, #505050);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
  }

  .order-list-brand-title-price {
    color: var(--text, #505050);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
  }

  .order-list-brand-item-des {
    margin-right: 150px;
    width: 250px;
  }

  .order-list-brand-item-title {
    color: var(--text, #505050);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  }

  .order-list-brand-item-inf {
    color: var(--text, #505050);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
  }

  .order-list-brand-item {
    display: flex;
    align-items: center;
    padding: 10px 35px;
    border-top: solid 1px #D8D8D8;
  }

  .order-list-brand-item-num {
    margin-right: 200px;
    color: var(--text, #505050);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  }
  
  .showcase-detail-item-num-intro {
    color: var(--text, #505050);
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 8px;
    margin-left: 10px;
    background-color: white;
  }

  .showcase-detali-item-num-box {
    width: 100px;
    height: 30px;
    border: solid 1px #D8D8D8;
    border-radius: 10px;
  }

  .showcase-detail-item-num-box-inf {
    margin-left: 10px;
    margin-top: 15px;
  }

  .order-list-brand-item-price {
    color: var(--d-9-d-9-d-9, #0071AF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
  }

  .order-detail-item-total {
    border: 1px solid #D8D8D8;
    border-radius: 10px;
    margin-top: 40px;
    padding: 5px 20px;
    margin-bottom: 30px;
  }

  .order-detail-item-total-num {
    display: flex;
    align-items: center;
  }

  .title-num {
    color: var(--505050, #505050);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 214.286% */
  }

  .total-num {
    position: relative;
    margin-left: auto;
    color: var(--text, #505050);
    text-align: right;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 214.286% */
  }

  .order-detail-item-total-detail {
    display: flex;
    align-items: center;
  }

  .title-detail {
    color: var(--505050, #505050);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  }

  .total-detail {
    position: relative;
    margin-left: auto;
    color: var(--d-9-d-9-d-9, #0071AF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
  }

  .cancel-button {
    position: absolute;
    right: 60px;
  }

  .cancel-button button {
    width: 212px;
    padding: 10px 16px;
    border-radius: 20px;
    background: var(--d-9-d-9-d-9, #0071AF);
    color: white;
    border: none;
  }

  .popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(80, 80, 80, 0.40);
    visibility: hidden;
  }

  .confirm-popup {
    position: absolute;
    top: 50%;
    left: 30%;
    padding: 30px 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    box-shadow: #505050;
    z-index: 3;
  }
  
  .confirm-popup span {
    color: var(--d-9-d-9-d-9, #0071AF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    margin-bottom: 5px;
  }
  
  .confirm-popup p {
    color: var(--text, #505050);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    margin-bottom: 20px;
  }
  
  .confirm-popup-button {
    height: 30px;
    display: flex;
    gap: 20px;
  }
  
  .confirm-popup-button .confirm-popup-cancel {
    border-radius: 8px;
    border: 1px solid var(--1-border, #E4E4E4);
    background: var(--1-white, #FFF);
    color: var(--1-text, #606060);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .confirm-popup-button .confirm-popup-delete {
    height: 30px;
    border: none;
    border-radius: 8px;
    background: var(--d-9-d-9-d-9, #15A5E3);
    color: white;
  }
  
  .popup.open-popup {
    visibility: visible;
  }